{% extends 'base.html' %}
{% load static %}

{% block page %}
<style>
    .card:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: 0.3s;
    }
</style>
<h2 class="mt-4 mb-4">
    {{ title }}
</h2>

<div class="row">
    {% for prompt in prompts %}
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <a href="{{ prompt.id }}/" class="text-decoration-none">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{ prompt.title }}</h5>
            <p class="card-text">{{ prompt.description }}</p>
            </div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}